

html,body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component_wrapper{
  width: 410px;
  height: 120px;
  background-color: rgba(122, 68, 68, 0.233);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_1{
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  border-radius: 100%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  background-color: yellow;
  margin-right: 50px;

}

button {
  padding: 10px;
  background-color: brown;
  color: white;
border-radius: 10px;
width: 100px;
margin-top: 50px;
margin-left: 180px;
}